<div class="modal fade" id="specs-modal" tabindex="-1" role="dialog" aria-labelledby="specs-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="specs-modal-label">ST-100 Specs</h4>
      </div>
      <div class="modal-body" id="specs-container" style="padding-left: 0; padding-right: 0">
        <div class="row">
          <div class="col-xs-5">
            Power Consumption:
          </div>
          <div class="col-xs-7">
            100W
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Color Rendering Index:
          </div>
          <div class="col-xs-7">
            90
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Color Temperature:
          </div>
          <div class="col-xs-7">
            Tungsten | Daylight | Bi-Color
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Beam Angle:
          </div>
          <div class="col-xs-7">
            110 degrees
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Lifespan:
          </div>
          <div class="col-xs-7">
            50,000 hours
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Built in Mounts:
          </div>
          <div class="col-xs-7">
            Bowens S-type<br>
            3” Magnetic Attachment
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Additional Mount:
          </div>
          <div class="col-xs-7">
             Chimera 6.5”
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Light Mount:
          </div>
          <div class="col-xs-7">
            Baby mount (5/8")
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Dimming Range:
          </div>
          <div class="col-xs-7">
            10-100%
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Noise Output:
          </div>
          <div class="col-xs-7">
            18 dBa
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Size:
          </div>
          <div class="col-xs-7">
            16.5" x 7.5" x 5.5"
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Weight:
          </div>
          <div class="col-xs-7">
            5.8lbs
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            Power Input:
          </div>
          <div class="col-xs-7">
            90-305V AC, 47-63Hz
          </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
          <div class="col-xs-5">
            Warranty:
          </div>
          <div class="col-xs-7">
            One year limited
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <h4 style="margin-top: 20px; margin-bottom: 10px">Foot-candle output (Tungsten - open face)</h4>
            <%= image_tag('specs/tungsten_foot_candles.png', class: 'img-responsive') %>
            <h4 style="margin-top: 20px; margin-bottom: 10px">Foot-candle output (Daylight - open face)</h4>
            <%= image_tag('specs/daylight_foot_candles.png', class: 'img-responsive') %>
            <h4 style="margin-top: 20px; margin-bottom: 10px">Colorimetry (Tungsten & Daylight)</h4>
            <%= image_tag('specs/colorimetry.jpg', class: 'img-responsive', :style => 'width:100%') %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->