<div id="static_page_container" style="margin-top: 100px; min-height: 600px">
  <section class="container-fluid titleContainer" >
    <div class="row-fluid">
      <div class="span12 text-center titleText">
        <h1>FAQS</h1>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row-fluid">

      <div class="span12 bodyText text-center" style="padding:30px">
        <h1><strong>Coming Soon...</strong></h1>
        In the meantime, send as an email at <a href="mailto:info@strahlenlights.com" style="color: #333">info@strahlenlights.com</a>.

        <br><br><br><br><br><br><br><br><br><br>


      </div>
    </div>
  </section>
</div>
