<div id="static_page_container" style="margin-top: 100px">

  <section class="container-fluid titleContainer">
    <div class="row-fluid">
      <div class="span12 text-center titleText">
        <h1>The Strahlen Story</h1>
      </div>
    </div>
  </section>


  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span10 offset1 storyText" style="padding:25px 0; line-height:22px;">

        <p><strong>In December 2012,</strong> co-founder Andy Waplinger, an independent filmmaker and entrepreneur,
          decided that it was time to upgrade his equipment and make the jump to LED lights.
          Shortly after he began researching what options were available, he came to three very
          important conclusions about current LED lights: they're prohibitively expensive, poorly made, and aren't easily modified.</p>


        <p>Armed with his years of experience with electronics, film, and light, and a passion to create a better solution,
          Andy set to work exploring the expansive world of LEDs. After several hours of research and recalling his hours
          working on the hot sets of several projects, including Showtime’s <em>Weeds</em>, he quickly realized the potential of his idea.
          His lights would be:</p>

        <ul style="padding-left:25px">
          <li>Affordable for the independent filmmaker</li>
          <li>Well-constructed from sturdy alumnium</li>
          <li>Useable with several types of light modifiers</li>
        </ul>

        <p>After dozens of hours, several late nights, and many, many cups of tea, Andy had finalized his parts list and
          established connections with component suppliers. In less than three weeks from the initial idea, all of the
          necessary parts were making their way to him in San Diego, CA.</p>



        <p>The components starting arriving piece by piece. </p>

        <div class="text-center" style="margin:20px 0">
          <video controls="" width="640" height="360" preload="none" poster="https://s3.amazonaws.com/strahlenStory/MicrocontrollerCover.jpg">
            <noscript></noscript>
            <source src="https://s3.amazonaws.com/strahlenStory/MicrocontrollerTimelapse.mp4" type="video/mp4">
            <source src="https://s3.amazonaws.com/strahlenStory/MicrocontrollerTimelapse.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/strahlenStory/MicrocontrollerTimelapse.ogg" type="video/ogg">
            <iframe src="http://player.vimeo.com/video/61329004?title=0&amp;byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </video>
        </div>
        <p>Andy wasted no time tearing apart and stripping the old lights housings that were being repurposed for the prototypes. </p>

        <div class="text-center" style="margin:20px 0">
          <video controls="" width="640" height="360" preload="none" poster="https://s3.amazonaws.com/strahlenStory/LightDisassemblyCover.jpg">
            <noscript></noscript>
            <source src="https://s3.amazonaws.com/strahlenStory/LightDisassembly.mp4" type="video/mp4">
            <source src="https://s3.amazonaws.com/strahlenStory/LightDisassembly.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/strahlenStory/LightDisassembly.ogg" type="video/ogg">
            <iframe src="http://player.vimeo.com/video/61329003?title=0&amp;byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </video>
        </div>

        <p>Little by little, the lights started to come together until, finally, the prototypes were finished:
          a tungsten-balanced, a daylight-balanced, and a bi-color model.</p>

        <div class="text-center" style="margin:20px 0">
          <video controls="" width="640" height="360" preload="none" poster="https://s3.amazonaws.com/strahlenStory/LightsRunningCover.jpg">
            <noscript></noscript>
            <source src="https://s3.amazonaws.com/strahlenStory/LightsRunning.mp4" type="video/mp4">
            <source src="https://s3.amazonaws.com/strahlenStory/LightsRunning.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/strahlenStory/LightsRunning.ogg" type="video/ogg">
            <iframe src="http://player.vimeo.com/video/61333061?title=0&amp;byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </video>
        </div>


        <%= image_tag('story/image_1.jpg', :width => 200, :height => 266, :align => 'left', :style => 'padding-right:15px; width:100%; max-width:200px;') %>
        <p>With all three in working order, Andy spent the next few weeks putting the lights through their paces.
          Thankfully, there were just a couple of minor problems, all of which were either corrected or noted to be
          fixed on the next round.</p>


        <p>Throughout this period, Andy realized that he needed somebody to help support the development of the business.
          Enter Colin Petruno, an incredibly talented programmer with experience in product marketing at eBay and one of
          Andy’s oldest friends. Together the two of them set to work developing what you see now
          (and plenty of things that you’ll be seeing soon).</p>
        <%= image_tag('story/image_2.jpg', :width => 320, :height => 150, :align => 'right', :style => 'padding-left:15px; padding-top:7px') %>
        <p>It was time to take things to the next level: beta prototypes. These prototypes were to be built
          from the ground up with a custom-designed, all-aluminum, powder coated housing.</p>

        <p>Andy set to work establishing relationships with local metal manufacturing companies.
          He and Colin worked together to design the housings and all of its associated bits and pieces, which
          brings us to where Strahlen is today.<br><br>


          At this moment, the housings are being constructed and component fabrication is underway.
          Within a few weeks we’ll have the nearly-finished product in our hands. Shortly thereafter we’ll be
          launching a crowdsourced funding campaign to bring our lights into mass production.</p>

        <p>Along the way, we’ve been supported by a great number of people. We’re very thankful for their time and effort,
          and we hope that they’ll continue to support us as we push forward.</p>

      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12 text-center">
        <p class="text-center">
          <%= image_tag('story/prototypes.jpg', class: 'text-center', style: 'margin:15px 0')%>
        </p>
      </div>
    </div>
  </div>

</div>