<div id="static_page_container" style="margin-top: 100px">
  <section class="container-fluid titleContainer">
    <div class="row-fluid">
      <div class="span12 text-center titleText">
        <h1>Terms and Conditions</h1>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row-fluid">

      <div class="span12 bodyText" style="padding:30px">
        <strong>Limitation of Liability</strong><br>
        Strahlen shall not be liable for any special or consequential damages that result from the use of, or the inability to use, the materials on this site or the performance of the products, even if Strahlen has been advised of the possibility of such damages. Applicable law may not allow the limitation of exclusion of liability or incidental or consequential damages, so the above limitation or exclusion may not apply to you.
        <br><br>
        <strong>Typographical Errors</strong><br>
        In the event that a Strahlen product is mistakenly listed at an incorrect price, Strahlen reserves the right to refuse or cancel any orders placed for product listed at the incorrect price. Strahlen reserves the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged. If your credit card has already been charged for the purchase and your order is canceled, Strahlen shall issue a credit to your credit card account in the amount of the incorrect price.
        <br><br>
        <strong>Term: Termination</strong><br>
        These terms and conditions are applicable to you upon your accessing the site and/or completing the registration or shopping process. These terms and conditions, or any part of them, may be terminated by Strahlen without notice at any time, for any reason. The provisions relating to Copyrights, Trademark, Disclaimer, Limitation of Liability, Indemnification and Miscellaneous, shall survive any termination.

      </div>
    </div>
  </section>
</div>